<h1>New User</h1>
<form action="/users" method="post">
    <div>
      <label>
        Nickname:
        <input type="text" name="first_name" value="{{ user.first_name|default('', true) }}">
      </label>
    </div>
    <div>
      <label>
        Tel:
        <input type="tel" required name="tel" value="{{ user.tel }}">
      </label>
      {% if errors %}
        {% for error in errors %}
        <div>{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <input type="submit" value="Create">
</form>